<!DOCTYPE html>
<html>
<head>
	<title>KKHC | login</title>
	<link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" type="image/x-icon">

	<link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="{{ url_for('static', filename='img/wave.png') }}">
	<div class="container">
		<div class="img">
			
		</div>
		<div class="login-content">
			<form action="/login" method="post">
				<img src="{{ url_for('static', filename='img/avatar.svg') }}">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input" name="username" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input type="password" class="input" name="password" required>
            	   </div>
            	</div>
            	<br>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
